body {
  margin: 0;
  line-height: 1.4;
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
}
* {
  box-sizing: border-box;
}
#checkbox {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  overflow: hidden;
}
.wrapper {
  width: 205px;
}
.error {
  padding: 13px 15px;
  background-color: #ea4335;
  font-size: 12px;
  color: #fff;
}
.section {
  padding: 15px;
}
.header {
  margin-bottom: 16px;
  overflow: hidden;
}
.header-text {
  display: inline-block;
  padding-top: 1px;
}
.checkbox {
  display: inline-block;
  position: relative;
  width: 57px;
  height: 23px;
  padding: 2px;
  border-radius: 12px;
  background: #ea4335;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  float: right;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.checkbox-off {
  position: absolute;
  top: 0;
  left: 7px;
  font-size: 16px;
  opacity: 1;
  -webkit-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
}
.checkbox-on {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 16px;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
}
.checkbox-switch {
  position: absolute;
  width: 19px;
  height: 19px;
  right: 2px;
  top: 2px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}
#checkbox:checked + .wrapper .checkbox {
  background: #5cb657;
}
#checkbox:checked + .wrapper .checkbox-off {
  opacity: 0;
}
#checkbox:checked + .wrapper .checkbox-on {
  opacity: 1;
}
#checkbox:checked + .wrapper .checkbox-switch {
  -webkit-transform: translateX(-34px);
      -ms-transform: translateX(-34px);
          transform: translateX(-34px);
}
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list-item {
  position: relative;
  overflow: hidden;
}
.list-item + .list-item {
  margin-top: 8px;
}
.list-item:before {
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  left: 20px;
  right: 26px;
  bottom: 4px;
  border-bottom: 1px dotted #a0a0a0;
}
.site-ico {
  display: block;
  position: relative;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  float: left;
}
.site-ico.telegram {
  background-image: url("../img/telegram.ico");
  background-size: 100% 100%;
}
.site-name {
  display: block;
  position: relative;
  line-height: 13px;
  padding: 0 5px 3px 9px;
  background-color: #fff;
  float: left;
}
.site-status {
  display: block;
  position: relative;
  width: 16px;
  height: 16px;
  float: right;
}
.site-status:before,
.site-status:after {
  content: '';
  display: block;
  position: absolute;
  width: 14px;
  height: 3px;
  right: 3px;
  top: 6px;
  border-radius: 2px;
  background-color: #ef7065;
}
.site-status:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.site-status:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.status-on {
  display: block;
  width: 16px;
  height: 16px;
  opacity: 0;
}
.status-on:before,
.status-on:after {
  content: '';
  display: block;
  position: absolute;
  width: 14px;
  height: 3px;
  right: 0;
  top: 6px;
  border-radius: 2px;
  background-color: #85c881;
}
.status-on:before {
  width: 9px;
  right: 9px;
  top: 7px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.status-on:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.list-item.on .status-on {
    opacity: 1;
}
.list-item.off .status-on {
    opacity: 0;
}
.list-item.on .status-on {
    opacity: 1;
}
.list-item.off .site-status:after,
.list-item.off .site-status:before{
    opacity: 1;
}
.list-item.on .site-status:after,
.list-item.on .site-status:before{
    opacity: 0;
}